---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        type: statefulset
        containers:
          main:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.6
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

    service:
      main:
        controller: main
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: jellyfin
          gethomepage.dev/name: Jellyfin
          gethomepage.dev/group: Media
          gethomepage.dev/widget.type: jellyfin
          gethomepage.dev/widget.url: http://jellyfin.media.svc.cluster.local:8096
          gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_JELLYFIN_API_KEY}}" }}'
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "jellyfin.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: main
                  port: http

    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568

    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: jellyfin-config
      transcode:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /config/transcodes
      media:
        enabled: true
        type: nfs
        server: ${SECRET_NAS_IP}
        path: /var/nfs/shared/Media
    env:
      TZ: "Europe/London"
      DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
      JELLYFIN_FFmpeg__probesize: "50000000"
      JELLYFIN_FFmpeg__analyzeduration: "500000000"
      JELLYFIN_CACHE_DIR: "/config/cache"
      JELLYFIN_CONFIG_DIR: "/config"
      JELLYFIN_DATA_DIR: "/config/data"
      JELLYFIN_LOG_DIR: "/config/log"
      JELLYFIN_WEB_DIR: "/usr/share/jellyfin/web"

    resources:
      requests:
        gpu.intel.com/i915: 1
        cpu: 1000m
        memory: 3000Mi
      limits:
        gpu.intel.com/i915: 1
        memory: 10000Mi
