---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.12.4
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  install:
    remediation:
      retries: 3
    timeout: 15m
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
    timeout: 15m
  values:
    global:
      envFrom:
        - secretRef:
            name: authentik-secret
    authentik:
      log_level: info
      error_reporting:
        enabled: false
    server:
      ingress:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - &host "auth.${SECRET_DOMAIN}"
        tls:
          - hosts:
              - *host
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
        limits:
          memory: 1Gi
    worker:
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
      volumeMounts:
        - name: dshm
          mountPath: /dev/shm
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
        limits:
          memory: 1Gi
    postgresql:
      enabled: true
      global:
        defaultStorageClass: openebs-hostpath
      auth:
        existingSecret: authentik-secret
        secretKeys:
          userPasswordKey: postgres-password
      primary:
        persistence:
          enabled: true
          size: 2Gi
    redis:
      enabled: true
      global:
        defaultStorageClass: openebs-hostpath
      master:
        persistence:
          enabled: true
          size: 1Gi
